body {
	-webkit-text-size-adjust: none;
       
}

.logout-btn {
     padding-top : 11px;
     padding-bottom : 11px;
    
}
.user-spacing-fix {
      margin-right: -5px !important;
}

.navbar-top-fix {
    padding-left: 0px;
    padding-right: 0px;
}

.brand {
    margin-left: 0px !important;
}


 .home-link{
            padding : 11px;
            display : none ;
     } 

 @media (max-width: 450px) {  
     .brand {
            display : none !important;
        } 
     .home-link{
            display : inline-block;;
     } 
 }
	
div.calendar {
    width:200px;
}

.btn {
	vertical-align: middle; /* ensure buttons line up even when they are different tag types [a, button] */
}

.navbar-fixed-top {
    position: static;
    margin-bottom: 18px;
}

.navbar-inner {
     padding: 5px;
}

.navbar-form-fix {
    margin-bottom:0px;
   
}


/* list pages */

table td.link {
	white-space: nowrap;
}

table thead th {
	white-space: nowrap;
}

/* icons for sorted column headers */

table th.asc a:after,
table th.desc a:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 0.3em;
	vertical-align: text-top;
	background-image: url(../plugins/twitter-bootstrap-2.0.2.25/img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

table th.asc a:after {
	background-position: -289px -96px;
}

table th.desc a:after {
	background-position: -312px -96px;
}

/* optimized display for small devices */

@media (max-width:300px) {
	thead { 
		display: none;
	}
	
}

/* error page */

pre.snippet code.line {
	border: none;
	display: block;
}

pre.snippet .lineNumber {
	display: inline-block;
	width: 3em;
}

pre.snippet .error {
	font-weight: bold;
}

.accordion-heading {
    background-image: none !important;
    margin: 0 0 0px;
    -webkit-box-shadow:  0 0 0 white !important;
    border:0px;
    
}

.reservation {
    background-color: #dff0d8;
}

.noreservation {
    background-color:  whiteSmoke !important;
}


.accordion-heading:hover { color: black; text-decoration:none; }

div.form-actions {
    background-color: #FFF;
}

